[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "theme/crakjie"]
	path = theme/crakjie
	url = https://github.com/crakjie/hugo-base-theme.git
[submodule "themes/crakjie"]
	path = themes/crakjie
	url = https://github.com/crakjie/hugo-base-theme.git
